.titulo{
  text-align: center;
  
}


.container {
  display: flex;
  border: 2px solid black;
  margin: 30px;
  
  
}


.linha {
  
  display: flex;
  justify-content: space-between;
  
  
}
.botao{
  background-color: aqua;
  margin: 3px 3px 0 30px;
 
  
}
.texto{
  margin-left: 30%;
  
}



