.container {
  display: flex;
}
.linha {
  
  display: flex;
  justify-content: space-between;
}
.botao{
  background-color: aqua;
  margin: 3px 3px 0 30px;
 
  
}
.texto{
  background-color: chartreuse;
}

